html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title All Work, No Play
    meta(name="description", content="Description of page")
    link(rel="stylesheet", href="styles.css")
  body
    .container
      main#main-content
        p All work and no play makes Johnny a dull boy.&nbsp;&nbsp;All work and no play makes Johnny a dull boy.&nbsp;&nbsp;All work and no play makes Johnny a dull boy.&nbsp;&nbsp;All work and no play makes Johnny a dull boy.
    script(src="scripts.js")
