html {
  box-sizing: border-box;
  font-size: 138.5%;
  font-family: monospace;
  line-height: 1.3;
  color: #555;
}

body {
  padding-top: 33vh;
}

section {
  padding: 0 5vw 5vh;
}

p {
  text-indent: 2rem;
  margin-top: 0;
}

.single-column {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}
