html {
  box-sizing: border-box;
  font-size: 138.5%;
  font-family: monospace;
  line-height: 1.3;
  color: #555;
}

body {
  padding-top: 33vh;
}

section {
  padding: 0 5vw 5vh;
}

p {
  margin-top: 0;
}

.single-column {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}

.indented-paragraphs {
  p {
    text-indent: 2rem;
  }
}

%layout-p {
  margin-bottom: 1.5rem;
}
.layout-1 {
  p:nth-child(2n+3) {
    @extend %layout-p;
    margin-left: 20vw;
    margin-right: 15vw;
  }
}

.layout-2 {
  p:nth-child(3n+1) {
    @extend %layout-p;
    margin-left: 40vw;
    margin-right: 10vw;
  }
}

.layout-3 {
  p:nth-child(2n+1) {
    @extend %layout-p;
    margin-right: 40vw;
    margin-left: 10vw;
  }
}
